.dashboardCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border: 1px solid var(--gray-color-opacity-20);
  border-radius: 0.5rem;
  background-color: var(--white);
}

.cardHeader {
  display: flex;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

.iconWrapper {
  background-color: var(--gray-color-500);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--white);
}

.cardText {
  display: flex;
  flex-direction: column;
}

.employeeCount {
  font-size: 1.5rem;
  font-weight: bold;
}

.cardDivider {
  width: 100%;
}

.cardFooter {
  font-size: 0.875rem;
  margin: 0 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  color: var(--gray-color-400);
}

.summaryCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--gray-color-opacity-20);
  border-radius: 0.5rem;
  background-color: var(--gray-color-100);
  text-align: center;
  font-weight: bold;
}

.viewButton:hover {
  background-color: transparent;
}
