.newButton {
  margin: 0.5rem;
  background-color: var(--dark-color-500);
  color: white;
}

.actionIcon {
  color: var(--dark-color-500);
  cursor: pointer;
}

.actionIcon:hover {
  color: var(--dark-color-opacity-80);
}
