.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 31.25rem;
  box-shadow: 0 .25rem .6rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modalBody {
  margin-bottom: 1rem;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.modalCloseButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
