.tableHeader {
  font-weight: bold;
  background-color: var(--gray-color-300);
  color: var(--dark-color-700);
  text-transform: uppercase;
}

.tableContainer {
  max-height: 80vh;
  overflow-y: auto;
  border: 1px solid var(--gray-color-200);
  border-radius: 8px;
}

.paperHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.paperHeader input {
  width: 40%;
  font-size: 1rem;
  border: 1px solid var(--gray-color-400);
  border-radius: 0.5rem;
  background-color: var(--gray-color-100);
  transition: border-color 0.3s ease;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary-dark-color);
}

.tableRow {
  background-color: var(--gray-color-100);
  transition: background-color 0.3s ease;
}

.tableRow:nth-of-type(even) {
  background-color: var(--gray-color-50);
}

.tableRow:hover {
  background-color: var(--gray-color-200);
}

.tableCell {
  padding: 0.8rem;
  font-size: 0.9rem;
  color: var(--dark-color-600);
  text-align: left;
}

.tableCell:first-of-type {
  text-align: center;
}

.tableHeadCell {
  font-weight: bold;
  font-size: 1rem;
  color: var(--dark-color-700);
  text-align: left;
  padding: 1rem;
  background-color: var(--gray-color-200);
  text-transform: capitalize;
}

.paperContainer {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  background-color: var(--gray-color-50);
}

.searchInput {
  width: 50%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--gray-color-300);
  border-radius: 0.5rem;
  font-size: 1rem;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--primary-dark-color);
}
